{% extends 'base.html' %}

{% block content %}

<div class="container" id="table-container">         
        <table class="table table-bordered table-striped text-center">
          <thead>
            <tr>
              <th>Site Code</th>
              <th>Transmitter</th>
              <th>Component</th>
              <th>Part Number</th>
              <th>Quantity</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>MLA-2</td>
              <td>Harris HT 120 LS</td>
              <td>Slave Controller Board</td>
              <td>992-1782-232</td>
              <td>3</td>
            </tr>
            <tr>
                <td>MLA-2</td>
                <td>Harris HT 120 LS</td>
                <td>Slave Controller Board</td>
                <td>992-1782-232</td>
                <td>3</td>
              </tr>
            <tr>
                <td>MLA-2</td>
                <td>Harris HT 120 LS</td>
                <td>Slave Controller Board</td>
                <td>992-1782-232</td>
                <td>3</td>
              </tr>
            </tr>
          </tbody>
        </table>
      </div>


{% endblock content %}