{% extends 'base.html' %}

{% block content %}

<div class="container" id="table-container">         
        <table class="table table-bordered table-striped text-center">
          <thead>
            <tr>
              <th>Site Code</th>
              <th>Transmitter</th>
              <th>Component</th>
              <th>Part Number</th>
              <th>Quantity</th>
            </tr>
          </thead>
          <tbody>
            {% for inventory in inventories %}
            <tr>
              <td>{{ inventory.site_name }}</td>
              <td>{{ inventory.transmitter}}</td>
              <td>{{ inventory.component}}</td>
              <td>{{ inventory.part_number }}</td>
              <td>{{ inventory.quantity}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>


{% endblock content %}