{% extends 'base.html' %}

{% block content %}

<section id="showcase-inner" class="showcase-search text-white pb-3">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <form action="{% url 'search' %}">
          <!-- Form Row 1 -->
          <div class="form-row">
            
            <div class="col-md-2 mb-1">
              <label class="sr-only">State</label>
              <select name="site_class" class="form-control">
                <option value="">Site Code </option>
                {% for key,value in site_class_choices.items %}
                    <option value="{{ key }}"
                    {% if key == values.site_class %}
                       selected
                    {% endif %}
                    >{{ value }}</option>
                {% endfor %}
              </select>
            </div>

            <div class="col-md-2 mb-1">
              <label class="sr-only">State</label>
              <select name="report_status" class="form-control">
                <option value="">Report Status</option>
                {% for key,value in report_status_choices.items %}
                    <option value="{{ key }}"
                    {% if key == values.report_status %}
                       selected
                    {% endif %}
                    >{{ value }}</option>
                {% endfor %}
              </select>
            </div>

            <div class="col-md-2 mb-1">
              <label class="sr-only">State</label>
              <select name="sites" class="form-control">
                <option value="">Site Code</option>
                {% for key,value in site_code_choices.items  %}
                    <option value="{{ key }}"
                    {% if key == values.sites %}
                       selected
                    {% endif %}
                    >{{ value }}</option>
                {% endfor %}
              </select>
            </div>

            <div class="col-md-2  mb-1">
              <label class="sr-only">Keywords</label>
              <input type="text" name="keywords" class="form-control" placeholder="Keyword (Pool, Garage, etc)" value="">
            </div>

            <div class="col-md-2 mb-1">
              <label class="sr-only">Keywords</label>
              <input type="text" name="keywords" class="form-control" placeholder="Keyword (Pool, Garage, etc)" value=" ">
            </div>

            <div class="col-md-2 mb-1">
              <button class="btn btn-secondary btn-block" type="submit">Search</button>
            </div>
         
          </div>
        </form>
      </div>
    </div>
  </div>
</section>



<div class="container" id="table-container">         
    <table class="table table-bordered table-striped text-center">
      <thead>
        <tr>
          <th>Date</th>
          <th>Site Code</th>
          <th>Class</th>
          <th>Report Status</th>
        </tr>
      </thead>
      <tbody>
        {% for discrepancy in discrepancies %}
        <tr>
          <td>{{ discrepancy.date }}  </td>
          <td>{{ discrepancy.sites}}  </td>
          <td>{{ discrepancy.site_class }}  </td>
          <td><a href="{% url 'details' discrepancy.id %}" class="href">{{ discrepancy.report_status }}  </a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>




{% endblock content %}